*.py[cdi]
private_config.py
config.json
/release
####
PDFexample/*
!PDFexample/2016_ANYmal - a highly mobile and dynamic quadrupedal robot.pdf
!PDFexample/2018_MIT Cheetah 3.pdf
!PDFexample/2019_Passive Whole-body Control for Quadruped Robots.pdf
PDFpaper/*