[[source]]
url = "https://pypi.mirrors.ustc.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pymupdf = "*"
opencv-python = "*"
tqdm = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.7"
